* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.3rem;
}

.calculator {
  border: 1px solid #ccc;
  background: #f5f5f5;
  padding: 1.6rem;
  max-width: 25rem;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .1),
    4px 4px 6px rgba(0, 0, 0, .1);
}

.logo {
  color: darkgrey;
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1rem;
  text-align: center;
}

.input {
  display: block;
  width: 100%;
  padding: 0.25rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  outline: none;
  border-radius: .2rem;
}

.number-buttons {
  display: grid;
  grid-gap: .4rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "ce . . plus"
    "one two three minus"
    "four five six multiplicator"
    "seven eight nine divisor"
    ". zero point result";
}

.button {
  border: none;
  background: #ececec;
  width: 5rem;
  height: 5rem;
  padding: 1.4rem;
  outline: none;
  transition: all .1s ease-in-out;
  border-radius: .2rem;
}

.button.plus,
button.minus,
button.multiplicator,
button.divisor {
  background-color: #dadada;
}

.button:focus-within {
  background: darkgrey;
  color: white;
}

button.ce, .button.result {
  background-color: darkgrey;
  color: white;
}

button.ce:focus-within, .button.result:focus-within { 
  background-color: #7e7e7e;
}

.button.ce {
  grid-area: ce;
}

.button.result {
  grid-area: result;
}

.button.point {
  grid-area: point;
}

.button.one {
  grid-area: one;
}

.button.two {
  grid-area: two;
}

.button.three {
  grid-area: three;
}

.button.four {
  grid-area: four;
}

.button.five {
  grid-area: five;
}

.button.six {
  grid-area: six;
}

.button.seven {
  grid-area: seven;
}

.button.eight {
  grid-area: eight;
}

.button.nine {
  grid-area: nine;
}

.button.zero {
  grid-area: zero;
}

.button.plus {
  grid-area: plus;
}

.button.minus {
  grid-area: minus;
}

.button.multiplicator {
  grid-area: multiplicator;
}

.button.divisor {
  grid-area: divisor;
}
